@model EcommerceStore.Models.Product

<form asp-action="EditProduct" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Product Name *</label>
        <input asp-for="Name" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Description *</label>
        <textarea asp-for="Description" class="form-control" required></textarea>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Price *</label>
            <input asp-for="Price" class="form-control" required />
        </div>
        <div class="col-md-6">
            <label>Stock *</label>
            <input asp-for="Stock" class="form-control" required />
        </div>
    </div>

    <div class="mb-3 mt-3">
        <label>Category *</label>
        <select asp-for="Category" class="form-select">
            <option>Uncategorized</option>
            <option>Tech</option>
            <option>Men</option>
            <option>Women</option>
            <option>Accessories</option>
        </select>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <label>Original Price (MRP)</label>
            <input asp-for="OriginalPrice" class="form-control" />
        </div>

        <div class="col-md-6">
            <div class="form-check mt-4">
                <input asp-for="ShowDiscount" class="form-check-input" />
                <label class="form-check-label">
                    Show Discount Badge
                </label>
            </div>
        </div>
    </div>

    <!-- 🔹 Remaining Image Ids -->
    <input type="hidden" name="RemainingImageIds" id="RemainingImageIds" />

    <!-- EXISTING IMAGES -->
    <div class="mb-3">
        <label>Current Images</label>
        <div class="d-flex flex-wrap gap-2" id="imageContainer">
            @foreach (var img in Model.Images)
            {
                <div class="image-box border p-1" data-id="@img.Id">
                    <img src="@img.ImageUrl" width="120" />
                    <button type="button"
                        class="btn btn-danger btn-sm remove-img"
                        data-id="@img.Id">
                        ✖
                    </button>
                </div>
            }
        </div>
    </div>

    <!-- NEW IMAGES -->
    <div class="mb-3">
        <label>Add New Images</label>
        <input type="file" name="images" multiple class="form-control" />
    </div>

    <button class="btn btn-primary">Update</button>
</form>

<script src="~/js/Product.js"></script>
